/* Reset e box-sizing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Press Start 2P', monospace;
    background-color: #000000; /* cinza escuro */
    color: #5C6784; /* Slate Gray */
}

/* Layout base */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}



/* Header */


#nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 15px 30px;
    box-shadow: 4px 4px 0 #000;
}

.barra_nav {
    display: flex;
    list-style: none;
    gap: 20px;
}

.barra_nav li a {
    color: #5C6784;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8rem;
    transition: color 0.2s;
}

.barra_nav li a:hover {
    color: #6A5ACD;
}

/* Main */
main.colunas {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    padding: 40px 20px;

}

/* Colunas */
.coluna {
    flex: 1 1 400px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #000000;
    border-radius: 4px;
    box-shadow: 4px 4px 0 #5900ff;
    border: 4px solid #ffffff;
    margin: 10px;
}




.botao-tecnologias {
    background-color: #030303; /* mesma cor do retângulo das tecnologias */
    color: #ffffff; /* cor da fonte */
    font-family: 'Press Start 2P', monospace;
    font-size: 0.7rem;
    padding: 10px 20px;
    border: 4px solid #ffffff; /* borda pixelada */
    border-radius: 0; /* bordas retas estilo 8-bits */
    box-shadow: 4px 4px 0 #6200ff; /* efeito 8-bits */
    cursor: pointer;
    transition: transform 0.1s;
}

.botao-tecnologias:hover {
    transform: translate(-2px, -2px);
    background-color: #91ff00; /* efeito de "pressionado" pixelado */
}



/* Títulos */
.titulo_caixa,
.titulo_tecnologias {
    background-color: #000000;
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 4px;
    text-align: center;
    font-size: 0.8rem;
    box-shadow: 4px 4px 0 #6200ff;
    border: 4px solid #ffffff;
}

/* Quadrado “sobre mim” */
.quadrado_preto {
    background-color: black; /* mantém o fundo preto */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start; /* texto começa de cima */
    padding: 20px; /* espaçamento interno */
    box-sizing: border-box;
    border: 4px solid #ffffff;
    
}

.texto_quadrado {
    color: white; /* cor do texto branca */
    font-size: 14px;
    line-height: 1.5;
}

/* Imagem */
.minha_foto {
    width: 200px;
    height: 200px; /* quadrado */
    border-radius: 8px;
    border: 4px solid #ffffff;
    box-shadow: 4px 4px 0 #6200ff;
    object-fit: cover;
}

/* Retângulo horizontal */
.retangulo_quadrado {
    width: 100%;
    max-width: 450px;
    height: 100px;
    background-color: #000000;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 4px 4px 0 #6200ff;
    border: 4px solid #ffffff;
}

.retangulo_quadrado img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    transition: transform 0.2s;
}

.retangulo_quadrado img:hover {
    transform: translate(-2px, -2px);
}

/* Footer */
footer {
    background-color: #000000;
    padding: 20px;
    color: #ffffff;
    text-align: center;
    
}

/* Responsividade */
@media (max-width: 600px) {
    .coluna, .coluna-direita {
        max-width: 100%;
        align-items: center;
    }

    .minha_foto, .titulo_tecnologias, .retangulo_quadrado, .quadrado_preto, .titulo_caixa {
        width: 90%;
        max-width: 300px;
    }

    .retangulo_quadrado { height: 120px; }
}

/* Modal */
.modal {
    display: none; /* começa fechado */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7); /* fundo escuro transparente */
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.modal-conteudo {
    background-color: #000000; /* cinza escuro do modal */
    padding: 30px;
    border-radius: 8px;
    max-width: 800px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 0 #6200ff;
    border: 4px solid #ffffff;
    position: relative;
}

.modal-conteudo h2 {
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}

#constante_texto {
    color: white;
}

.fechar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    user-select: none;
}

.modal-tecnologias {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.modal-tecnologias img {
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 4px 4px 0 #6200ff;
    border: 4px solid #ffffff;
    object-fit: contain;
    border-radius: 4px;
    ;
    transition: transform 0.2s;
}

.modal-tecnologias img:hover {
    transform: translate(-2px, -2px);
}

/* Carrossel */

.carrossel-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #000000; /* cor de fundo do carrossel */
     /* borda estilo 8-bits */
    border-radius: 0; /* cantos retos estilo 8-bit */
     /* sombra pixelada */
}

/* Opcional: dar um fundo diferente só para a faixa dos cards */
.carrossel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* fundo semi-transparente atrás dos cartões */
    border-radius: 4px;
    scroll-behavior: smooth;
    overflow: hidden;
}

.projetos {
    padding: 40px 20px;
    background-color: #000000;
    color: #ffffff;
}

.titulo_projetos {
    text-align: center;
    margin-bottom: 20px;
    background-color: #ffffff;
    color: #0B0C10;
    padding: 12px 20px;
    box-shadow: 4px 4px 0 #6200ff;
    border: 4px solid #ffffff;
}

.carrossel-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrossel {
    display: flex;
    overflow-x: auto;

    gap: 20px;
    padding: 10px;
}

.carrossel {
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
}

.carrossel::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Edge */
}

.projeto-card {
    flex: 1;
    min-width: 250px;
    height: 200px;
    background-color: #000000;
    border-radius: 4px;
    flex-shrink: 0;
    position: relative;
    box-shadow: 4px 4px 0 #6200ff;
    border: 4px solid #ffffff;
    cursor: pointer;
}

.projeto-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.titulo-hover {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    font-size: 0.7rem;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s;
}

.projeto-card:hover .titulo-hover {
    opacity: 1;
}

/* Setas */
/* Botões de setas estilo 8-bits */
.seta-esquerda,
.seta-direita {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000; /* cor 8-bits */
    color: #ffffff; /* cor da seta */
    font-family: 'Press Start 2P', monospace;
    font-size: 1.5rem;
    width: 60px;
    height: 60px;
    border: 4px solid #ffffff; /* borda pixel */
    border-radius: 0; /* cantos retos */
    box-shadow: 4px 4px 0 #6200ff; /* sombra estilo pixel */
    cursor: pointer;
    transition: transform 0.1s, box-shadow 0.1s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.seta-esquerda { left: -10px; }
.seta-direita { right: -10px; }

/* Efeito ao pressionar */
.seta-esquerda:active,
.seta-direita:active {
    transform: translateY(-50%) translate(2px, 2px);
    box-shadow: 2px 2px 0 #000;
}

.contato {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 0;
    background-color: #000000; /* mantém fundo geral da seção */
}

.contato-container {
    background-color: #000000; /* mesma cor do fundo das colunas */
    border: 4px solid rgb(255, 255, 255);
    box-shadow: 4px 4px 0 #6200ff;
    border-radius: 5px;
    padding: 20px;
    max-width: 800px;
    width: 100%;
}

.titulo_contato {
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    text-align: center;
    background-color: #000000; /* mesma cor dos títulos das colunas */
    padding: 10px;
    border: 4px solid rgb(255, 255, 255);
    box-shadow: 4px 4px 0 #6200ff;
    border-radius: 5px;
    margin-bottom: 20px;
    color: white;
}

.form-contato {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-contato label {
    color: white;
    font-size: 12px;
    font-family: 'Press Start 2P', cursive;
}

.form-contato input,
.form-contato textarea {
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
}

.botao-enviar {
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 4px solid rgb(255, 255, 255);
    box-shadow: 4px 4px 0 #6200ff;
    font-family: 'Press Start 2P', cursive;
}

.botao-enviar:hover {
    background-color: #91ff00;
}



/* Tela de Loading */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1c1c; /* cinza escuro */
    color: #6A5ACD; /* Electric Indigo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    font-family: 'Press Start 2P', monospace;
}


/* Texto de Loading */
.loading-text {
    margin-top: 20px;
    font-size: 1rem;
    letter-spacing: 2px;
}

/* Loader pixelado estilo 8-bits */
.pixel-loader {
    display: grid;
    grid-template-columns: repeat(4, 20px);
    grid-gap: 4px;
}

.pixel-loader div {
    width: 20px;
    height: 20px;
    background-color: #6A5ACD; /* Electric Indigo */
    animation: pixelJump 1s infinite;
}

.pixel-loader div:nth-child(1) { animation-delay: 0s; }
.pixel-loader div:nth-child(2) { animation-delay: 0.2s; }
.pixel-loader div:nth-child(3) { animation-delay: 0.4s; }
.pixel-loader div:nth-child(4) { animation-delay: 0.6s; }

/* Animação pulando pixel */
@keyframes pixelJump {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

/* ERROS */
.erro-msg {
    display: none;
    color: #ff8800;
    background: black;
    padding: 5px;
    font-family: 'Press Start 2P', monospace;
    font-size: 10px;
    margin-top: 4px;
    display: inline-block;
}

/* Modal Projeto */
#modalProjeto {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

#modalProjeto .modal-conteudo {
    background: #000000;
    padding: 20px;
    width: 70%;
    max-width: 800px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
}

#modalProjeto .fechar {
    position: absolute;
    top: 10px; right: 15px;
    font-size: 30px;
    cursor: pointer;
}

.modal-projeto-header {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.modal-projeto-header img {
    width: 150px;
    border-radius: 10px;
}

.botao-repo {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background: #0077cc;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
}
.botao-repo:hover {
    background: #005fa3;
}

/*barra rolagem*/

::-webkit-scrollbar {
    width: 16px; 
    background-color: #000000; 
}


::-webkit-scrollbar-thumb {
    background-color: #6200ff; 
    border: 4px solid #000000; 
    border-radius: 0; 
    
}


::-webkit-scrollbar-track {
    background-color: #000000; 
}















